/*
File Name: common.css
File Type: 必需
Description: 本主题基本css元素
*/

/**===============================
           基础
================================*/
html{color:{NORMAL_COLOR};{BG_CODE}; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font-size:{NORMAL_FONTSIZE}; font-family:{NORMAL_FONT}; color:#333; padding-top:30px; background:transparent;}

/* 常用元素 */
table{border-collapse:collapse;border-spacing:0;background-color: transparent; word-break: break-all;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
img {vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;line-height:20px;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap;#word-break: break-all; #word-wrap: break-word; _word-break: break-all;  _word-wrap: break-word; }
p {table-layout:fixed; word-break: break-all; overflow:hidden;margin: 0 0 9px;font-size: 13px;line-height: 20px;}
p small {font-size: 11px;color: #999999;}

/* 标题 */
h1,h2,h3,h4,h5,h6 { margin: 0;font-family: inherit;font-weight: bold;color: inherit;text-rendering: optimizelegibility;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {font-weight: normal;color: #999999;}
h1 { font-size: 17px;line-height: 42px;}
h1 small {font-size: 14px;}
h2 {font-size: 15px; line-height: 36px;}
h2 small { font-size: 18px;}
h3 { font-size: 13px;line-height: 24px;}
h3 small {font-size: 12px;}
h4,h5,h6 {line-height: 18px;}
h4 {font-size: 12px;}
h4 small {font-size: 12px;}
h5 {font-size: 12px;}
h6 {font-size: 11px;color: #999999;text-transform: uppercase;}
ul,ol {padding: 0; margin: 0 0 9px 0px;}
ul ul,ul ol,ol ol,ol ul { margin-bottom: 0;}
ul {list-style: disc;}
ol {list-style: decimal;}
li { line-height: 22px;}
ul.unstyled,ol.unstyled {margin-left: 0;list-style: none;}
dl { margin-bottom: 18px;}
dt,dd {line-height: 18px;}
dt {font-weight: bold; line-height: 17px;}
dd { margin-left: 9px;}
.dl-horizontal dt { float: left; width: 120px; overflow: hidden;clear: left;text-align: right;text-overflow: ellipsis; white-space: nowrap;}
.dl-horizontal dd { margin-left: 130px;}
hr {margin: 18px 0;border: 0;border-top: 1px dashed #eeeeee;border-bottom: 1px solid #ffffff;}
strong {font-weight: bold;}
em { font-style: italic;}
.muted { color: #999999;}
abbr[title] { cursor: help; border-bottom: 1px dotted #ddd;}
abbr.initialism {font-size: 90%;text-transform: uppercase;}
blockquote { padding: 0 0 0 15px; margin: 0 0 18px;border-left: 5px solid #eeeeee;}
blockquote p { margin-bottom: 0;font-size: 16px;font-weight: 300;line-height: 22.5px;}
blockquote small { display: block;line-height: 18px;color: #999999;}
blockquote.pull-right { float: right; padding-right: 15px; padding-left: 0; border-right: 5px solid #eeeeee; border-left: 0;}
blockquote.pull-right p,blockquote.pull-right small {  text-align: right;}
q:before,q:after,blockquote:before,blockquote:after { content: "";}
address { display: block; margin-bottom: 18px;font-style: normal;line-height: 18px;}
small {font-size: 100%;}
cite {font-style: normal;}
code,pre {padding: 0 3px 2px;font-size: 12px;color: #333333;-webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px;}
code {padding: 2px 4px;color: #d14; background-color: #f7f7f9;border: 1px solid #e1e1e8;}
pre {display: block; padding: 8.5px; margin: 0 0 9px; font-size: 12.025px; line-height: 18px; word-break: break-all; word-wrap: break-word; white-space: pre;white-space: pre-wrap; background-color: #f5f5f5; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;}
pre.prettyprint {margin-bottom: 18px;}
pre code { padding: 0;color: inherit;background-color: transparent;border: 0;}
.pre-scrollable {max-height: 340px;overflow-y: scroll;}
/* 链接 */
a{text-decoration:none;color:{LINK_COLOR}; }
a:hover{text-decoration:underline; }

/**===============================
           全局样式
================================*/
/* 竖直分割线 */
.pipe{margin:0 5px;color:{INTERVAL_LINE_COLOR};}
.vertical_middle{vertical-align: middle;}
.red{color:red;}
.none{display:none;}
.space{margin:10px 0px;}
.clear{zoom: 1;clear:both;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{display:inline-block;}
.left{ float:left !important;display:inline;}
.right{ float:right !important;display:inline; }
input#seccode{width:60px;}
.textoverflow{white-space: nowrap;word-wrap: normal;word-break: normal;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;}

/* 宽度 */
.width_full{width:100%;}
.width_half{width:100%;}
.width_300{width:300px;}
.width_500{width:500px;}

/* 提示消息 */
.tips { padding:8px 8px; background-color:#f3f3f3;margin:0 auto 10px auto;line-height:20px;}
.tips-highlight { background-color: #F5F5B5; border: 1px solid #DECA7E;}

/* 空间容器 */
.well{min-height: 20px;padding: 19px;margin-bottom: 20px;background-color:#f3f3f3;}
.well blockquote {border-color: #ddd;border-color: rgba(0, 0, 0, 0.15);}
.well-large {padding: 24px;}
.well-small {padding: 9px;}

/**===============================
           容器
================================*/
.wrap_content{margin:-10px 0 15px 0;/*text-align:center;*/}
.container_box{background:#fff;padding:10px 3px 10px 3px;border:1px solid #f6f8f8;border-bottom:none;border-top:none;}

/**===============================
           头部和头部菜单
================================*/
/** 头部菜单 */
.headertop_box {border-bottom: 1px solid #EEE;height: 30px;width: 100%;_position: relative;z-index: 10000;position:fixed;top:0; left:0;/*text-align:center;*/background:none repeat scroll 0 0 #353535;color:#AAA;}
.headertop-inner {margin: 0 auto;width: 960px;clear:both;}
.headertop_box .headertop-city {float: left;line-height: 30px;margin-right: 0px;padding-left: 0px;margin-left:-5px;}
.headertop_box .headertop-city a.headertop-city {font-size: 12px;font-weight: bold;padding-right: 5px;}
.headertop_box .headertop-city a.headertop-city:hover {text-decoration:none;}
.headertop_box .headtop-menu {float: left;margin-left:15px;}
.headertop_box .headtop-right {float: right;padding-right: 15px;margin-right:-20px;}
.headertop_box .headtop-menu-list {float: left;}
.headertop_box .headtop-menu-list li {float: left;display: inline;height: 30px;position: relative;}
.headertop_box .menu-item {display: inline-block;line-height: 30px;padding: 0 8px;}
.headertop_box .menu-item:hover,.headertop_box .registerlogin_btn a:hover{text-decoration: none;}
.headertop_box .registerlogin_box {height: 30px;line-height: 30px;padding-left: 8px;position: relative;z-index: 10;margin-right:-10px;}
.headertop_box .registerlogin_box .registerlogin_btn {display: inline-block;padding: 0 8px 0 0;}
.headertop_box .registerlogin_box .registerlogin_btn a{padding: 0 8px 0 0;}
.headertop_box a{color:#AAA;}
.headertop_box a:hover {color: #FFF;}

/* logo */
.header_logobox {color:{MENU_HOVER_TEXT_COLOR};font-size:14px;/*position:fixed;top:0; left:0;*/width:100%;z-index:1000;overflow:visible;height:100px;/*text-align:center;*/}
.header_logobox .logo { float:left; line-height: 70px;  padding:15px 5px 0 0px;  background:transparent; color:{MENU_HOVER_TEXT_COLOR}; width: 230px;height: 70px;margin-top:15px;}
.header_logobox .logo:hover{text-decoration:none;color:{MENU_HOVER_TEXT_COLOR};}

/* 搜索 */
.searchheader_box {padding-top: 22px;}
.searchheader_box .search {position: relative;width: 450px;height: 32px;border: solid 2px {MENU_BORDER_COLOR};z-index: 10;background:#FFF;}
.searchheader_box .search .keyword {width: 372px;height: 16px;overflow: hidden;color: #909090;border: 0;padding: 8px 0;float: left;outline: 0;font-size: 14px;-webkit-border-radius:0;border-radius: 0;}
.searchheader_box .search .submit {width: 78px;height: 32px;border: 0;overflow: hidden;color: white;cursor: pointer;{HEADER_BG_CODE}float: right;font-size: 14px;font-family: 'Microsoft Yahei';-webkit-border-radius:0;border-radius: 0;}
.searchheader_box .search .submit:hover {background: {MENU_HOVER_TEXT_COLOR};}
/*
.searchheader_box .search .suggest {position: absolute;left: -1px;top: 34px;width: 100%;z-index: 10;background: white;border: 1px solid #D6D6D6;line-height: 22px;}
.searchheader_box .search .suggest {line-height: 22px;}
.searchheader_box .search .suggest a {display: block;padding: 3px 11px;font-size:13px;}
.searchheader_box .search .suggest a:hover,.search_box .search .suggest a.current {background: #FFFAEC;text-decoration: none;}
*/
.searchheader_box .hotkeywords{font-size:12px;margin-top:5px;color:#999;width:416px;height:16px;overflow:hidden;}
.searchheader_box .hotkeywords a{font-size:12px; color:#999;margin-right:10px;}
.searchheader_box .hotkeywords a:hover{color:{LINK_COLOR};text-decoration:none;}

/* 切换城市 */
.header_changecity{float:left;position:relative;top:46px;font-weight:bold;}
.header_changecity span{font-size:13px;line-height:13px;height:13px;}
.header_changecity a:hover{text-decoration:none;color:#000;}

/* 头部菜单 */
.header {width:100%;z-index:1000;overflow:visible;margin-bottom:20px;{HEADER_BG_CODE};/*text-align:center;*/}
.header .container_12 { overflow:visible; }
.globa-nav {height: 39px;{HEADER_BG_CODE}}
.globa-nav .shadow {width: 100%;height: 5px;overflow: hidden;position: absolute;margin-top: 39px;left: 0;background: url({IMG_DIR}/shadow_24.png) left top repeat-x;_background: 0;}
.globa-nav .w {margin-left: auto;margin-right: auto;}
.globa-nav .allMenu {font-size: 15px;font-weight: bold;font-family: '微软雅黑';text-align: center;line-height: 39px;}
.globa-nav .allMenu a {display: inline-block;height: 39px;vertical-align: top;padding: 0 8px;text-decoration: none;color: white;}
.globa-nav .allMenu a {padding: 0 15px;}
.globa-nav .allMenu a:hover, .globa-nav .allMenu .current {background: #52958d;color:white!important;}
.globa-nav .allMenu .index {width: 88px;padding: 0;}
.globa-nav .sideMenu2 {height: 39px;line-height: 39px;padding: 0 10px;font-size: 13px;font-weight: normal;font-family: '微软雅黑';}
.globa-nav .sideMenu2 a.menu {padding: 0 10px;color: white;height:39px;line-height:39px;display:inline-block;}
.globa-nav .sideMenu2 a.menu:hover {color: {MENU_HOVER_TEXT_COLOR}!important;text-decoration: none;}

/* 下拉菜单 */
.header .header_caret {border-left: 3px solid transparent;border-right: 3px solid transparent;border-top: 3px solid #fff;content: "";display: inline-block;vertical-align: top;width: 0;height: 0;margin-top:18px;}
.header a:hover .header_caret,.header .active .header_caret{border-top-color: {MENU_TEXT_COLOR};}
.header .header_dropdown { cursor:pointer; position:relative; z-index: 100; }
.header .header_dropdown a.title { position: relative; }
.header .header_dropdown a.title-active {z-index:110;}
.header .header_dropdown a.title:hover{ border-bottom:none; }
.header .header_dropdown ul { display:none; position: absolute; z-index:100; right:0px; top:29px; border:1px solid {MENU_BORDER_COLOR};border-top:none; font-size:12px; font-weight:normal; text-align:left; padding:5px 0;background: #52958d;}
.header .header_dropdown ul li { display:block; float:none; padding:0; margin:0; }
.header .header_dropdown ul li a { border:none; height:28px; line-height:28px; margin:0; padding:0 10px;color:#fff; font-weight:normal;box-shadow: none; }
.header .header_dropdown ul li a:hover,.header .header_dropdown ul li.active a { line-height:28px; background-color:none; color:{MENU_HOVER_TEXT_COLOR}!important;text-decoration:none;}
.header .header_dropdown:hover {}
.header .header_dropdown:hover ul {}
.header .header_dropdown ul.header_dropchild { width:100%;min-width:75px; }
/* Fix */
.globa-nav .allMenu .header_dropdown ul{top:54px;}
.globa-nav .allMenu .header_dropdown ul li a{background: none;}

/* IE7 */
#ie7 .header .header_caret{display:none;}
#ie7 .header .header_dropdown ul.header_dropchild { width:80px; }

/* 短消息 */
#header-messagecenter{width:60px;}
#header-messagecenter ul{width:105px;}

/**===============================
           底部
================================*/
.footer {margin-top:20px; clear:both; line-height:15px; color:{FOOTER_TEXT_COLOR}; {FOOTER_BG_CODE};padding: 15px 0 10px 0;/*text-align:center;*/}
.footer a {color:{FOOTER_TEXT_COLOR}}
.footer a:hover {color:{FOOTER_TEXT_COLOR};text-decoration:underline;}
.footer .footer_debug{font-size:10px;color:{LIGHT_TEXTCOLOR};}
.footer_top {border-bottom: 1px solid #2e2c2c;padding-bottom: 15px;height: 120px;position: relative;margin-bottom:15px;}
.footer_top .footertop_left .f-tel{font-size: 35px;color: #ED145B;padding:5px 0px 10px 0px;font-weight:bold;}
.footer_top .footertop_left .f-tel img{position:relative;top:-4px;}
.footer_top .footertop_left .f-mail,.footer_top .footertop_left .f-qq{height:30px;line-height:30px;color:white;}
.footer_top .footertop_right span {height: 26px;font-size: 14px;font-weight: bold;display: block;}
.footer_top .footertop_right a:link, .footer_top .footertop_right a:visited, .footer_top .footertop_right a:hover {display: block;height: 26px;line-height: 26px;}
.footer_top .footertop_right img {padding: 4px 5px 0 0;position:relative;top:-4px;}
.footer_top .footertop_right .er {width: 151px;height: 196px;top: -87px;right: 90px;position: absolute;border: 1px solid silver;background: white;display: none;z-index:9999;}
.footer_top .footertop_right .erimg {width: 100%;text-align: center;height: 142px;padding-top: 9px;}
.footer_top .footertop_right .erline {width: 100%;height: 6px;background: url({__ROOT__}/Public/images/common/line.gif) repeat-x bottom;text-align: center;font-size: 0;}
.footer_top .footertop_right .ert {padding: 7px 0 0 12px;line-height: 26px;}
.footer_top .footertop_right .ert a{color:#ED145B;}

/**===============================
           表格样式
================================*/
.table {width:100%;margin-bottom: 18px;table-layout:fixed;}
.table thead tr{background:#fbfbfb;}
.table th,
.table td {padding: 8px;line-height: 18px;text-align: left;vertical-align: top;border-top: 1px dotted #fbfbfb;}
.table th {font-weight: bold;}
.table thead th {vertical-align: bottom;}
.table tbody {border-top: 1px dotted #F2F2F2;}
.table-bordered {border: 1px dotted #F2F2F2;border-collapse: separate;*border-collapse: collapsed;border-left: 0;}
.table-bordered th,.table-bordered td {border-left: 1px dotted #F2F2F2;}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {background-color: #fdfdfd;}
.table tbody tr:hover td,.table tbody tr:hover th {}

/**===============================
           基本表单元素（分页样式也在里面）
================================*/
input[type="text"],input[type="password"],input[type="email"],textarea {display:block;width:300px;height:18px;line-height:18px;margin:0;padding:8px 12px;border:1px solid {INPUT_BORDER};outline:0;font-size:14px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:13px;color:#373636;}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {border:1px solid {INPUT_BORDER_DARK_COLOR};}
input[type="text"].error,input[type="password"].error,input[type="email"].error,textarea.error {border:1px solid #c21;background:#f5e5e5;}
input[type="text"][disabled],input[type="password"][disabled],input[type="email"][disabled],textarea[disabled],input[type="text"][readonly],input[type="password"][readonly],input[type="email"][readonly],textarea[readonly]{background:#efefef;opacity: 0.65;pointer-events: none;}
input[type="button"], input[type="submit"], button, .btn, .pagination a{display:inline-block;padding: 7px 12px;color:#fff;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;background: none repeat scroll 0 0 {SPECIAL_BG};border: medium none;cursor: pointer;}
.btn,.pagination a{padding:8px 12px;}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, .btn:hover, .pagination a:hover, .pagination .active a{background-color:{MENU_HOVER_TEXT_COLOR};text-decoration:none;color:#fff;}
input[type="button"]:active, input[type="submit"]:active, button:active, .btn:active {background: {MENU_HOVER_TEXT_COLOR};}
input[type="button"][disabled],input[type="submit"][disabled],button[disabled],.btn[disabled],input[type="button"][readonly],input[type="submit"][readonly],button[readonly],.btn[readonly],.pagination .disabled a {background-color: {MENU_HOVER_TEXT_COLOR};cursor: not-allowed;opacity: 0.65;pointer-events: none;}
textarea{height:auto;}
select{margin:0;padding:8px 12px;border:1px solid {INPUT_BORDER};outline:0; font-size: 13px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
select:focus{border:1px solid {INPUT_BORDER_DARK_COLOR};}
.btn-large {padding: 8px 5px;line-height: 45px;text-align: center;font-size: 25px;}
.btn-large:active{ padding: 8px 5px;}
.btn-small {padding: 5px 9px;font-size: 11px;line-height: 16px;}
.btn-mini {padding: 2px 6px;font-size: 11px;line-height: 14px;}
.input-short { }
.input-mini{ width: 60px;}
.input-small { width: 90px;}
.input-medium { width: 150px;}
.input-large { width: 210px;}
.input-xlarge {width: 270px;}
.input-xxlarge {width: 530px;}
.btn-warning{background:orange;}

/* 基本分页样式 */
.pagination { text-align:center; clear:left; padding:10px 0 0 0; }
.pagination ul{ margin-left:0;list-style:none; }
.pagination li{ list-style:none;float:left; }
.pagination a { padding:5px 10px; margin:0 2px; }
.pagination strong { padding:5px 10px; margin:0 3px; }
.pagination .active a{font-weight:bold;font-size:20px;}

/* 编辑器按钮还原 */
input[type="button"].ke-button, input[type="submit"].ke-button, button.ke-button {padding: 0 12px;}
.ke-dialog input[type="text"],.ke-dialog input[type="password"],.ke-dialog input[type="email"],.ke-dialog textarea{ background-color: #FFFFFF;border-color: #848484 #E0E0E0 #E0E0E0 #848484;border-style: solid;border-width: 1px;display: inline-block;font-size: 12px;height: 17px;line-height: 17px;padding: 2px 4px;vertical-align: middle;width:50px;}

/**===============================
           Form样式
================================*/
/* 基本 */
form input,textarea, select { margin-bottom:10px; }
form label { display:block; margin-bottom:2px; font-weight:bold;margin-bottom:10px; }
form label.checkbox { font-weight:normal; }
form label.checkbox input { display:inline; margin-right:5px; }
form .err { color:#900; margin-bottom:5px; }
form .form-actions {}
form .form-actions input, form .form-actions button { display:inline-block; }

/* 微型form */
.form-small input[type="email"], .form-small input[type="number"], .form-small input[type="password"], .form-small input[type="tel"], .form-small input[type="text"], .form-small input[type="url"], .form-small textarea, .form-small select{ width:260px; }

/* 样式 */
.form-search input,.form-inline input,.form-horizontal input,.form-search textarea,.form-inline textarea,.form-horizontal textarea,.form-search select,.form-inline select,.form-horizontal select,.form-search .help-inline,.form-inline .help-inline,.form-horizontal .help-inline,.form-search .uneditable-input,.form-inline .uneditable-input,.form-horizontal .uneditable-input,.form-search .input-prepend,.form-inline .input-prepend,.form-horizontal .input-prepend,.form-search .input-append,.form-inline .input-append,.form-horizontal .input-append {display: inline-block;*display: inline;margin-bottom: 0;*zoom: 1;}
.form-search .hide,.form-inline .hide,.form-horizontal .hide{display: none;}
.form-search label,.form-inline label {display: inline-block;}
.form-search .input-append,.form-inline .input-append,.form-search .input-prepend,.form-inline .input-prepend { margin-bottom: 0;}
.form-search .radio,.form-search .checkbox,.form-inline .radio,.form-inline .checkbox {padding-left: 0;margin-bottom: 0;vertical-align: middle;}
.form-search .radio input[type="radio"],.form-search .checkbox input[type="checkbox"],.form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"] {float: left;margin-right: 3px;margin-left: 0;}
.control-group {margin-bottom: 18px;}
legend + .control-group {margin-top: 18px;-webkit-margin-top-collapse: separate;}
.form-horizontal .control-group{margin-bottom: 18px;*zoom: 1;}
.form-horizontal .control-group:before,.form-horizontal .control-group:after {display: table;content: "";}
.form-horizontal .control-group:after {clear: both;}
.form-horizontal .control-label {float: left;width: 140px;padding-top: 5px;text-align: right;}
.form-horizontal .controls {*display: inline-block;*padding-left: 20px;margin-left: 160px;*margin-left: 0;}
.form-horizontal .controls:first-child {*padding-left: 160px;}
.form-horizontal .help-block {padding-top: 5px;padding-bottom: 5px;display:block;color:#999;}
.form-horizontal .form-actions {padding-left: 160px;}
.form-actions {padding: 14px 15px 15px 0px;margin-top: 14px;margin-bottom: 18px;*zoom: 1;}
.form-actions:before,
.form-actions:after { display: table;content: "";}
.form-actions:after {clear: both;}
.uneditable-input {overflow: hidden;white-space: nowrap;cursor: not-allowed;background-color: #ffffff;border-color: #eee;-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);}
:-moz-placeholder {color: #999999;}
::-webkit-input-placeholder {color: #999999;}
.help-block,.help-inline {color: #555555;}
.help-block {display: block;margin-bottom: 9px;margin-top: 5px;color:#999;}
.help-inline {display: inline-block;*display: inline;padding-left: 5px;vertical-align: middle;*zoom: 1;}
.input-prepend,.input-append {margin-bottom: 5px;}
.input-prepend input,.input-append input,.input-prepend select,.input-append select,.input-prepend .uneditable-input,.input-append .uneditable-input {position: relative;margin-bottom: 0;*margin-left: 0;vertical-align: middle; -webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}
.input-prepend input:focus,.input-append input:focus,.input-prepend select:focus,.input-append select:focus,.input-prepend .uneditable-input:focus,.input-append .uneditable-input:focus {z-index: 2;}
.input-prepend .uneditable-input,.input-append .uneditable-input {border-left-color: #ccc;}
.input-prepend .add-on,.input-append .add-on {display: inline-block;width: auto;height: 18px;min-width: 16px;padding: 4px 5px;font-weight: normal;line-height: 18px;text-align: center;text-shadow: 0 1px 0 #ffffff;vertical-align: middle;background-color: #eeeeee;border: 1px solid #ccc;}
.input-prepend .add-on,.input-append .add-on,.input-prepend .btn,.input-append .btn {margin-left: -1px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.input-prepend .active,.input-append .active {background-color: #a9dba9;border-color: #46a546;}
.input-prepend .add-on,.input-prepend .btn { margin-right: -1px;}
.input-prepend .add-on:first-child,.input-prepend .btn:first-child {-webkit-border-radius: 3px 0 0 3px;-moz-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;}
.input-append input,.input-append select,.input-append .uneditable-input {-webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px;}
.input-append .uneditable-input {border-right-color: #ccc;border-left-color: #eee;}
.input-append .add-on:last-child,
.input-append .btn:last-child {-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0;}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {margin-right: -1px;-webkit-border-radius: 3px 0 0 3px;-moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px;}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child { margin-left: -1px;-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0;}
.search-query {padding-right: 14px;padding-right: 4px \9; padding-left: 14px; padding-left: 4px \9;/* IE7-8 doesn't have border-radius, so don't indent the padding */ margin-bottom: 0;-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.form-search input,.form-inline input,.form-horizontal input,.form-search textarea,.form-inline textarea,.form-horizontal textarea,.form-search select,.form-inline select,
.form-horizontal select,.form-search .help-inline,.form-inline .help-inline,.form-horizontal .help-inline,.form-search .uneditable-input,.form-inline .uneditable-input,.form-horizontal .uneditable-input,.form-search .input-prepend,.form-inline .input-prepend,.form-horizontal .input-prepend,.form-search .input-append,.form-inline .input-append,.form-horizontal .input-append {display: inline-block; *display: inline; margin-bottom: 0;*zoom: 1;}
.form-search .hide,.form-inline .hide,.form-horizontal .hide { display: none;}
.form-search label,.form-inline label { display: inline-block;}
.form-search .input-append,.form-inline .input-append,.form-search .input-prepend,.form-inline .input-prepend { margin-bottom: 0;}
.form-search .radio,.form-search .checkbox,.form-inline .radio,.form-inline .checkbox { padding-left: 0; margin-bottom: 0; vertical-align: middle;}
.form-search .radio input[type="radio"],.form-search .checkbox input[type="checkbox"],.form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"] {float: left;margin-right: 3px; margin-left: 0;}
legend + .control-group { margin-top: 18px;-webkit-margin-top-collapse: separate;}
.form-horizontal .control-group { margin-bottom: 18px;*zoom: 1;}
.form-horizontal .control-group:before,.form-horizontal .control-group:after {display: table;content: "";}
.form-horizontal .control-group:after {clear: both;}
.form-horizontal .control-label {float: left;width: 140px;padding-top: 5px;text-align: right;}
.form-horizontal .controls {*display: inline-block; *padding-left: 20px; margin-left: 160px;*margin-left: 0;}
.form-horizontal .controls:first-child {*padding-left: 160px;}
.form-horizontal .help-block { margin-top: 5px;margin-bottom: 0;color:#999;}
.form-horizontal .form-actions {padding-left: 160px;}
.input_errortips{ margin-top: 5px;margin-bottom: 0;}
.input_tips{ margin-top: 5px;margin-bottom: 0;color:#999;}
.input_success{background:url('{__ROOT__}/Public/images/common/data_valid.gif') no-repeat 0 3px;color:green;padding-left:17px;}
.validate_seccode .input_errortips label{;position:relative;top:10px;margin-left:5px;}
.validate_seccode .input_errortips label{display: inline;width: 130px;}
.validate_seccode .input_errortips label.error{background-position:0px 0px;}

/**===============================
           Tab样式
================================*/
.nav_tabcontainer{margin-bottom:10px;}

/* 下拉通用样式 */
.caret {border-left: 3px solid transparent;border-right: 3px solid transparent;border-top: 3px solid #dceeee;content: "";display: inline-block;height: 0;vertical-align: top;width: 0;margin-top: 11px;margin-left:2px;}
li a:hover .caret,li.active a .caret{border-top-color: {LINK_COLOR};}
.dropdown { cursor:pointer; position:relative; z-index: 100; }
.dropdown a.title { position: relative; }
.dropdown a.title:hover { border-bottom:none; }
.dropdown a.title-active { padding-left:13px; padding-right:13px ; z-index:110; border:1px solid #F4F7F7;border-top:none; border-bottom:none; }
.dropdown ul { width:100%;display:none; position: absolute; z-index:100; right:0px; top:28px; background-color:#fff;font-size:12px; font-weight:normal; text-align:left; padding:5px 0;}
.dropdown ul li { display:block; float:none; padding:0; margin:0; }
.dropdown ul li a {border:none; height:28px; line-height:28px; margin:0; color:#333; font-weight:normal; background-color: transparent;box-shadow: none; }
.dropdown ul li a:hover,.dropdown ul li.active a { background-color:#F4F7F7; color:{LINK_COLOR};}
.dropdown ul.dropchild { }
.dropdown .dropchild li a{color:#333;font-weight:normal;}

/* 样式1 */
.nav_tab{border-bottom:1px solid #f0f4f4;list-style:none;height:28px;line-height:28px;}
.nav_tab li{list-style:none;border-left:1px solid #F4F7F7;border-right:1px solid #F4F7F7;line-height:28px;float:left;margin-right:5px;}
.nav_tab li a{border-top:1px solid #F4F7F7;background:#F4F7F7;font-size:12px;color:#333;float:left;display:block;padding:0 10px;line-height:28px;height:28px;overflow:hidden;margin-top:-1px;_position:relative;}
.nav_tab li a:hover{background:#ffffff;text-decoration:none;color:{LINK_COLOR};}
.nav_tab .active,.nav_tab li:hover{border-left:1px solid #edeeee;border-right:1px solid #edeeee;}
.nav_tab .active a{background:#ffffff;border-bottom:1px solid #ffffff;border-top:1px solid #edeeee;font-weight:700;color:{LINK_COLOR};}
.nav_tab ul{margin-left:0;float:left;margin-bottom:-1px;} /*ie6*/
.nav_tab ul.dropchild{border:none;}

/* 样式2 */
.nav_text{margin-bottom:12px;margin-left:0px;margin-top:5px;list-style:none;height:23px;line-height:23px;}
.nav_text li{list-style:none;line-height:13px;float:left;margin-right:7px;}
.nav_text li a{font-size:12px;color:#333;float:left;display:block;padding:0 5px;height:23px;line-height:23px;overflow:hidden;margin-top:-1px;_position:relative;}
.nav_text li a:hover{text-decoration:none;}
.nav_text .active a,.nav_text .active a:hover,.nav_text a:hover{color:{LINK_COLOR};}
.nav_text .active a{ font-weight:700;}
.nav_text ul{margin-left:0;float:left;margin-bottom:-1px;} /*ie6*/
.nav_text ul.dropchild{top:20px;border:none;}

/* 样式3（垂直菜单）*/
.nav-list {width: 98%;float:left;padding-left:0;margin-left:0;overflow:hidden;}
ul.nav-list{list-style-type:none;margin:0;padding:0;margin-left:0;margin-bottom:-1px;}
.nav-list li{display: inline;/* for IE5 and IE6 */margin:0px 0px 2px 0px;}
.nav-list li.nav-header{font-weight:bold;padding-bottom:10px;line-height:30px;}
.nav-list a{color: #000;text-decoration: none;font-size: 12px;display:block;padding: 2px 3px 2px 6px;margin:0px 0px 5px 0px;}
.nav-list a:link, .nav-list a:visited{color: #000;text-decoration: none;}
.nav-list a:hover,.nav-list li.active a{font-weight:600;color: {LINK_COLOR};}

/* 样式4 */
.nav_pills {overflow:visible;padding-left:0;margin-left:0; height:28px;line-height:28px;}
.nav_pills ul{margin-left:0;}
.nav_pills li { float:left; display:block;margin-right:5px;_position:relative;}
.nav_pills li a { padding:0 15px;height:28px;overflow:hidden;background:#F4F7F7;display:block; line-height: 28px; margin:0px; border-bottom:3px solid transparent;color:#333; }
.nav_pills li a:hover,.nav-dropdown li.active a { color:{LINK_COLOR};text-decoration:none; }
.nav_pills .caret {border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #dceeee;content: "";display: inline-block;height: 0;vertical-align: top;width: 0;margin-top: 13px;}

/**===============================
           缩略框
================================*/
.thumbnails {margin-left: -20px;list-style: none;*zoom: 1;}
.thumbnails:before,.thumbnails:after {display: table;content: "";}
.thumbnails:after {clear: both;}
.row-fluid .thumbnails { margin-left: 0;}
.thumbnails > li { float: left; margin-bottom: 0px; margin-left: 20px;}
.thumbnail { display: block; padding: 2px; line-height: 1;}
.thumbnail > img {display: block;max-width: 100%;margin-right: auto; margin-left: auto;}
.thumbnail .caption {padding: 3px;}

/**===============================
           进度条
================================*/
.progress {height: 18px;margin-bottom: 18px;overflow: hidden;background-color: #f7f7f7;}
.progress .bar {width: 0;height: 18px;font-size: 12px;color: #ffffff;text-align: center;background-color: #0e90d2;}
.progress-striped .bar {background-color: #149bdf;}
.progress-danger .bar {background-color: #dd514c;}
.progress-danger.progress-striped .bar {background-color: #ee5f5b;}

/**===============================
           导航条
================================*/
.breadcrumb {padding: 3px 14px 5px 0px;margin: 0 0 8px 0;list-style: none;}
.breadcrumb li {display: inline-block;*display: inline;*zoom: 1;}
.breadcrumb .divider {padding: 0 5px;color: #E0E2E4;}
.breadcrumb .active a {color: #333333;}

/**===============================
           社会化登录框
================================*/
.socialogin_box{text-align:center;}
.socialogin_content{text-align:center;width:300px;margin:auto;}

/**===============================
           回到顶部
================================*/
.back-to {bottom: 35px;overflow: hidden; position: fixed; right: 10px; width: 110px; z-index: 999;}
.back-to .back-top { background: url("{IMG_DIR}/back-top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; float: right; height: 35px; margin-left: 10px; outline: 0 none; text-indent: -9999em; width: 50px;}
.back-to .back-top:hover { background-position: 0 -35px;}

/**===============================
           消息样式
================================*/
/* AJAX消息 && 内页结果效果 */
#result,.QAjaxResult{line-height:20px;max-width:250px;width: expression(this.width>250?"250":true);overflow: auto; background: #e4e4e4 url({IMG_DIR}/boxbg.gif) repeat-x;box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);margin-bottom:10px;border:1px solid #CCCCCC;}
.QAjaxResult{position:fixed;top:50%;margin-top:-100px;left:50%;margin-left:-100px; z-index: 1050;padding:15px 50px;}
#result{padding:5px 20px;border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2);*border: 1px solid #999;}
* html div.QAjaxResult{position:absolute; right:16px;}
#__Loader__,#__JumpUrl__{margin:15px 0;}

/**===============================
           前台主题和语言包切换
================================*/
#style_switch_box{padding:0px 20px 5px 0px;}
#style_switch{}
#style_switch li{float:left;padding-left:5px;list-style:none;}
#style_switch a{float:left;width:10px;height:10px;border:1px solid #DDD;background:#FFF;line-height:100px;overflow:hidden;}
#style_switch a:hover,#style_switch .current a{border-color:#FFF;}
#style_switch .current a{margin-top:0px;border-width:1px;}

/**===============================
           分页条
================================*/
.pagenav {padding:3px 0px;margin:3px 0px;margin: 5px 0 5px 0;}
.pagenav a {border: #dedfde 1px solid; padding:2px 6px 2px 6px; margin-right: 3px; text-decoration: none;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.pagenav a:hover {background-image: none; background-color: #f5f5f5;border: #ddd 1px solid;}
.pagenav a:active {color:#999999; background-image: none; background-color: #f5f5f5;border: #000 1px solid;}
.pagenav span.current {font-weight: bold;color:#999999;background-color: #f5f5f5; border: #ddd 1px solid;padding:2px 6px 2px 6px; margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.pagenav span.disabled {color: #999999; background-color: #f5f5f5; border: #eee 1px solid;padding:2px 6px 2px 6px;margin-right: 3px; -moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}

/**===============================
           Ajax分页加载消息框
================================*/
.loadinghomefreshchildcomments{display:none;background:{LIGHT_TEXTCOLOR};text-align:center;width: 100%; color: #FFF; font-size: 22px; height:45px;line-height:45px;margin:10px; }

/**===============================
           媒体
================================*/
.ubb_media_box{background:transparent;width:90%;margin:15px 0;}
.ubbmediabox_content div{margin-top:10px;}
.common_ubb_box{background:transparent;}
.hide_ubb_box{background:#f0f1f5;padding:5px;width:60%;}
.ubb_media_box img{max-width: {CONTENT_WIDTH};width:expression(this.width>'{CONTENT_WIDTH}'?"{CONTENT_WIDTH}":this.width);overflow:hidden;}
.ubb_media_box{font-size:11px;color:{LIGHT_TEXTCOLOR};}
.ubb_media_box a:link,.ubb_media_box a:visited{color:{LIGHT_TEXTCOLOR};}
.ubb_media_box a:hover{color:#555555;text-decoration:none;}
.ubb_media_box .ubbmediabox_title{padding-bottom:5px;margin-bottom:5px;border-bottom:1px dashed {LIGHT_TEXTCOLOR};}
.ubb_media_box .ubbmediabox_content{background:transparent;}
.attachment_tips div{font-size:11px;}
.ui-tooltip-content{width:350px;;}
.ui-tooltip-content a{text-decoration:underline;}
.ui-tooltip-content strong{font-weight: 700;}
.ui-tooltip-content .tip_size{font-family: Arial;font-size: 0.83em;}

/**===============================
           通用容器和列表
================================*/
.commonbox{margin-bottom:15px;}
.commonbox .commonboxtitle{border-bottom: 1px solid #f7f7f7;font-size: 13px;margin-bottom: 10px;padding-bottom: 3px;font-weight:bold;color:#666;}
.commonbox .more {padding-right: 5px;display: inline-block;height: 45px;overflow: hidden;float: right;color: #828282;font-size: 12px;line-height: 50px;position:relative;margin-top:-5px;}
.commonlist{}
.commonlist ul{margin-left:0;}
.commonlist ul li{list-style:none;padding:8px 0;border-bottom:dashed 1px #DDDDDD;}
/* 列表num */
.commonlistnum {display: inline-block;padding: 1px 0;color: white;width: 14px;line-height: 100%;font-size: 12px;text-align: center;background-color: #CCC;margin-right: 5px;}
.commonlistnum_hot1 {background-color: #F54545;}
.commonlistnum_hot2 {background-color: #FF8547;}
.commonlistnum_hot3 {background-color: #FFAC38;}

/**===============================
           通用地区修改
================================*/
#residedistrictbox,#birthdistrictbox{margin-top:5px;}

/**===============================
           通用签名
================================*/
.common_usersign{background:url("{__ROOT__}/Public/images/common/signature.png") no-repeat;padding-top:20px;margin-bottom:15px;}

/**===============================
           通用标签
================================*/
a.common_tag{line-height:24px;height:24px;background:#F3F3F3;padding:4px 8px;color:#999;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius: 3px;white-space:nowrap;}
a.common_tag:hover{background:{LINK_COLOR};color:#fff;}

/**===============================
           通用用户列表
================================*/
.userlist .user { text-align:center; width:88px; height:90px; float:left; margin:0px 10px 15px 0px; }
.userlist img { display:block; margin:0 auto 5px auto; width:64px; height:64px; background-color:#f0f1f4; }

/* 迷离版 */
.userlist .smalluser { height:70px; width:60px; font-size:12px;  overflow:hidden;margin-bottom:25px;margin-right:15px;}
.userlist .smalluser img { width:48px; height:48px; }

/**===============================
           通用其他
================================*/
.common_share{}
.Sys-special_color{color:{SPECIAL_BG};}
.Sys-special_color a{color:{SPECIAL_BG};}
.Sys-special_color_deep{color:{LINK_COLOR};}
.Sys-special_color_deep a{color:{LINK_COLOR};}

/* 热门 */
.index_hotcity{font-weight:bold;}

/* 选择城市对话框 */
.selectcity_tabs .selectcity_title{padding:0px 0 10px 0;}
.selectcity_tabs .tab-pane ul {list-style: none;width: 450px;padding-left: 5px;margin: 0px;}
.selectcity_tabs .tab-pane ul li {float: left;text-align: left;width: 55px;}
.selectcity_tabs .tab-pane ul li a {line-height: 26px;color: #3E3E3E;text-decoration: none;}
.selectcity_tabs .tab-pane ul li a:hover {text-decoration: underline;}
.selectcity_tabs .tab-pane ul li a.hot_city{color:red;}

/* 个人信息卡片 0=保密 1=男 2=女 */
.genderbg_0 {background:#efefef url({IMG_DIR}/nosexbg.png) bottom right no-repeat;}
.genderbg_1 {background:#bbebf9 url({IMG_DIR}/gentlemanbg.png) bottom right no-repeat;}
.genderbg_2 {background:#fce0df url({IMG_DIR}/ladybg.png) bottom right no-repeat;}
