/*
[name]紫[/name]
[iconbgcolor]#9934B7[/iconbgcolor]
Description: WindsForce! Extend Stylecolor
*/

/**===============================
           重新定义基础
================================*/
html { background:#FFF url({IMG_DIR}/../Style/t4/bgimg.jpg) no-repeat 50% 0; }
a{color: #333333;}
a:hover {color: #333333;}

/**===============================
           容器
================================*/
.breadcrumb {}
.container_box{padding-top:0px;}

/**===============================
           重新定义一些颜色
================================*/
input[type="button"], input[type="submit"], button, .btn, .pagination a{background-color: #9934B7;}
input[type="button"]:hover, input[type="submit"]:hover, button:hover, .btn:hover, .pagination a:hover, .pagination .active a {background-color: #6C1992;}
input[type="button"]:active, input[type="submit"]:active, button:active, .btn:active {background-color: #6C1992;}
input[type="button"][disabled],input[type="submit"][disabled],button[disabled],.btn[disabled],input[type="button"][readonly],input[type="submit"][readonly],button[readonly],.btn[readonly],.pagination .disabled a {background-color: #9934B7;cursor: not-allowed;opacity: 0.65;}

/**===============================
           重新定义头部和头部菜单
================================*/
.menu-item a:hover,.registerlogin_btn a:hover {color: #9934B7;}
/* header */
.header {background:#9934B7;}
.globa-nav {background: #9934B7;}
.globa-nav .allMenu a:hover, .globa-nav .allMenu .current {background: #a539c5;color: white!important;}
.globa-nav .sideMenu2{background: #a539c5;}
.globa-nav .sideMenu2 a.menu:hover {color: #f4eff5!important;}
.header .header_dropdown ul { border:1px solid #9934B7;background: #9934B7;border-top:none;}
.header .header_dropdown ul li a:hover,.header .header_dropdown ul li.active a { color:#f4eff5!important;}
/* search */
.searchheader_box .search {border: solid 2px #9934B7;}
.searchheader_box .search .submit:hover {background: #a539c5;}
.searchheader_box .hotkeywords a:hover{color:#9934B7;}

/**===============================
           重写底部
================================*/
.footer{background: #000000;color:#FFF;}
.footer a{color:#cc6699;}
.footer a:hover{color:#eeb8fe;}

/**===============================
           重写通用标签
================================*/
a.common_tag{}
a.common_tag:hover{background:#9934B7;}

/**===============================
           重写其它
================================*/
/* 常用菜单组件 */
.nav-list a:hover,.nav-list li.active a,.nav_text .active a,.nav_text .active a:hover,.nav_text a:hover,.nav_tab .active a,.nav_pills li a:hover,.nav_pills li.active a,.dropdown ul li a:hover,.dropdown ul li.active a,.nav_tab li a:hover{color: #eeb8fe;}
.nav_pills li a:hover .caret,.nav_pills li.active a .caret{border-top-color: #eeb8fe;}

/* 特殊元素 */
.Sys-special_color{color:#eeb8fe;}
.Sys-special_color a{color:#eeb8fe;}
.Sys-special_color_deep{color:#9934B7;}
.Sys-special_color_deep a{color:#9934B7;}

/**===============================
           重写系统主题元素CSS
================================*/
.WindsforceSystem-link_color,.WindsforceSystem-14{color:#6C1992;}/* 14 */
.WindsforceSystem-link_color a,.WindsforceSystem-14 a{color:#6C1992;}/* 14 - 2 */
.WindsforceSystem-interval_line_color-border,.WindsforceSystem-35{}/* 35 */
.WindsforceSystem-common_background_color,.WindsforceSystem-37{background-color:#f8eff8;}/* 37 */
.WindsforceSystem-special_bg,.WindsforceSystem-39{background-color:#9934B7;}/* 39 */
